 .regional{
  margin-top: 8rem;
}
 
 .continent-id {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 12rem;
}

.community {
  display: flex;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}

.regional-community {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;

}

.cellule-continent {
  flex: 1;
  padding: 10px;
  text-align: center;
  min-width: 300px; 
  cursor: pointer;
}

 .continent-title{
  margin-left: 12rem;
  color: #333;
 }

 